/*************** GLOBALS *****************/

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

body {
    width: 485px;
    background-color: #fff;
    margin: 0 auto;
    line-height: 2em;
}

p {
    font-size: 1.25em;
}

figcaption, label, input, small {
    font-size: 1em;
}

nav {
    background-color: black;
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    padding: 20px 0;
    margin-bottom: 0;
    list-style: none;
}

nav li {
    padding: 10px 2px;
}

nav a {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 5px;
    color: #fff;
}

a:hover {
    color:#007d7b;
    text-decoration: underline;
}

[href*="top"] {
    display: none;
}

h1 {
    text-align: left;
    font-size: 3em;
    font-weight: bold;
    color: #007d7b;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 0 0 10px;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-top: 0;
}

.gallery {
    margin: 0;
    padding-left: 10px;
}

.header {
    padding: 5px 10px;
}

/******************* MAIN *******************/

figure {
    display: grid;
    margin: 0 auto;
    width: 420px;
}

h2, main > p {
    padding: 20px 10px;
}

figcaption {
    display: block;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    bottom: 50px;
    font-size: 1.5em;
    color: #fff;
    height: 10px;
}

.portrait figcaption {
    position: relative;
    color: #000;
    bottom: 600px;
}

figure:nth-child(7) figcaption {
    position: relative;
    bottom: 60px;
}

figure:nth-child(3) figcaption, 
figure:nth-child(9) figcaption, 
figure:nth-child(10) figcaption,
figure:nth-child(11) figcaption,
figure:nth-child(12) figcaption,
figure:nth-child(13) figcaption {
    position: relative;
    bottom: 260px;
}

figure:nth-child(9) figcaption,
figure:nth-child(10) figcaption,
figure:nth-child(11) figcaption,
figure:nth-child(12) figcaption {
    color: black;
}

/******************** FORM **********************/

.form {
    background-color: #000;
    color: #fff;
    padding: 0 33px;
}

.form h2, .form p {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.form p {
    margin-bottom: 20px;
}

.form header {
    display: none;
}

form {
    margin: auto;
    padding: 0 15px;
}

label {
    text-transform: uppercase;
    padding-left: 15px;
    position: relative;
    top: 7px;
}

input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 5px 10px 10px;
    border-radius: 2px;
}

input[placeholder] {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.85em;
}

::placeholder {
    color: #007d7b;
}

.button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

button {
    width: 250px;
    height: 35px;
    border-radius: 13px;
    background-color: #007d7b;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-style: none;
}

button:hover {
    cursor: pointer;
    background-color: #0a4140;
}

/****************** FOOTER ********************/

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
}

/*************** MEDIA QUERIES ***************/

@media screen and (max-width: 485px) {

    body {
        width: auto;
        max-width: 485px;
    }
    
    h1 {
        font-size: 2em;
    }

    nav a {
        font-size: 1em;
    }
}

@media screen and (min-width: 486px) and (max-width: 879px) {
    body {
        width: 85vw;
    }

    h1 {
        font-size: 2.5em;
    }

    nav a {
        font-size: 1.25em;
    }

    form {
        width: 80%;
    }
}

@media screen and (min-width: 880px) and (max-width: 902px) {
    body {
        width: 97vw;
    }

    main {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
    }

    .gallery {
        grid-column: 1 / 3;
    }

    figure:nth-child(even) {
        padding-left: 5px;
    }

    figure:nth-child(odd) {
        padding-right: 5px;
    }

    figure:last-child {
        margin-bottom: 0px;
    }

    form {
        width: 80%;
    }
}

@media screen and (min-width: 903px) {
    body {
        width: 876px;
    }
    main {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
    }

    .gallery {
        grid-column: 1 / 3;
    }

    figure:nth-child(even) {
        padding-left: 5px;
    }

    figure:nth-child(odd) {
        padding-right: 5px;
    }

    figure:last-child {
        margin-bottom: 0px;
    }

    form {
        width: 80%;
    }
}

@media screen and (min-width: 1300px) {
    body {
        width: 1280px;
    }

    nav ul {
        justify-content: right;
        padding-right: 20px;
    }

    main {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    } 

    .gallery {
        grid-column: 1 / 4;
    }

    figure:nth-child(even) {
        padding-left: 0;
        padding-right: 0;
    }

    figure:nth-child(odd) {
        padding-right: 0;
        padding-left: 0;
    }
}

